<div style="margin-left: 35px;" data-ng-cloak>
    <form class="form-horizontal" role="form">
        <div class="col-xs-1">
            <label class="control-label">
                Name:
            </label>
        </div>
        <div class="col-xs-4">
            <input type="text" data-ng-model="ctrl.namefilter" class="form-control input-sm" id="namefilter" />
        </div>
        <div class="col-xs-1"><label class="control-label">Pos:</label></div>
        <div class="col-xs-2">
            <select id="ddlPosition" data-ng-model="ctrl.selectedItem" data-ng-change="ctrl.selectPos()" class="form-control input-sm">
                <option value="QB">QB</option>
                <option value="RB">RB</option>
                <option value="WR">WR</option>
                <option value="TE">TE</option>
                <option value="K">K</option>
                <option value="DEF">DEF</option>
                <option value="All">All</option>
            </select>
        </div>
        </form>
        <table class="table table-striped" data-ng-cloak>
            <thead>
                <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>#</th>
                    <th>Team</th>
                </tr>
            </thead>
            <tr data-ng-repeat="player in ctrl.players | filter: namefilter | limitTo: ctrl.itemsLimit()" data-ng-show="player">
                <td>{{player.Position}}</td>
                <td>{{player.PlayerName}}</td>
                <td>{{player.Status}}</td>
                <td>{{player.Number}}</td>
                <td><img src="/TCFFL/Content/Teams/{{player.Team}}" class="img-rounded" style="height:25px;" /></td>
            </tr>
            <tr style="text-align:center;" data-ng-show="more">
                <td colspan="5">
                    <div style="cursor:default;vertical-align:middle;" data-ng-click="ctrl.showMore()">Show More <span class="caret"></span></div>
                </td>
            </tr>
        </table>

</div>
